<h2><a href="https://twitter.com/dotNetConfPL">@@dotNetConfPL</a></h2>

<div class="col-md-6 col-md-offset-3" style="text-align: center">
    <div class="row">
        <div class="col-md-4">
            <img src="http://www.gravatar.com/avatar/596c2a82b6a80064c2999d77da707256.jpg?s=200" style="margin: 20px; width: 200px" /><br />
            <p><a href="http://www.mfranc.com">Michał Franc</a></p>
            <p>
                Absolwent <a href="http://www.pwr.edu.pl">PWr</a>, mieszkający w Londynie gdzie ratuje Świat budując dobroczynną platformę <a href="http://www.justgiving.com">JustGiving</a>. 
                Zbzikowany na punkcie pragmatycznego i 'adżajlowego' podejścia do pracy. 
                Od czasu do czasu zdarzy mu się napisać coś interesującego na blogu <a href="http://www.mfranc.com">www.mfranc.com</a> 
                bądź twitterze <a href="https://twitter.com/francmichal">@@francmichal</a>. 
                Zawsze otwarty na rozmowę i chętny do pomocy.</p>
        </div>

        <div class="col-md-4">
            <img src="http://www.gravatar.com/avatar/299ad37f586aa79c7e0839fd4a18509a.jpg?s=200" style="margin: 20px; width: 200px" /><br />
            <p><a href="http://jj09.net/">Jakub Jędryszek</a></p>
            <p>
                Web Developer i miłośnik C#. Pracuje dla Microsoft i pomaga budować <a href="http://azure.microsoft.com/en-us/overview/preview-portal/">nowy Portal Azure</a>.
                Wcześniej pracował jako Web Developer w Polsce i USA. Studiując na <a href="http://cis.ksu.edu/">Kansas State University</a> pracował w grupie badawczej <a href="http://santoslab.org/">SAnToS Lab</a>.
                Prowadzi <a href="http://jj09.net/">bloga</a> oraz wygłasza <a href="http://jj09.net/category/speaking/">prelekcje</a>. Można go znaleźć na <a href="http://tiwtter.com/JakubJedryszek">Twitterze</a> oraz <a href="http://github.com/jj09">githubie</a>.
            </p>
        </div>

        <div class="col-md-4">
            <img src="http://www.gravatar.com/avatar/5429b7b39ef750e06db2b3098bda85bb.jpg?s=200" style="margin: 20px; width: 200px" /><br />
            <p><a href="http://pawel.sawicz.eu/">Paweł Sawicz</a></p>
            <p>
                 Student <a href="http://www.weka.pwr.edu.pl/index.dhtml">PWr</a> który aktualnie pracuje dla <a href="https://www.justgiving.com/">JustGiving</a>.
                 Pasjonat programowania, ostatnio wkręcający się w TDD oraz w język funkcyjny <a href=#>Haskell</a>.
                 Kocha konferencje, w tym roku odwiedził juz około 10 konferencji w Polsce i Europie. Prowadzi <a href="http://pawel.sawicz.eu/">blog</a> o tematyce ogólnej.
            </p>
        </div>
    </div>
</div>
