@model dynamic

@{
    ViewBag.Title = "dotnetconf.pl";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">31 października 2015</span>
                    <span class="skills">15:00 - 23:00</span>
                    <hr class="star-light">
                    <span class="skills">
                        Wirtualna konferencja dla .NET developerów.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="news">
    <div class="container text-center">
        <h2><a href="/Speakers">Tegoroczni prelegenci</a></h2>
        <h3>oraz</h3>
        <h2><a href="/Agenda">sesje</a></h2>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Partnerzy</h2>
                <hr class="partners-primary">
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-xs-3 valign">
                <a href="http://devday.pl/" style="display:inline-block;">
                    <img src="~/images/devday_logo_2015.jpg" style="pointer-events: none;" />
                </a>
            </div>
            <div class="col-xs-3 valign">
                <a href="http://buildstuff.lt/" style="display:inline-block;">
                    <img src="~/images/buildstuff-logo.png" style="pointer-events: none;" />
                </a>
            </div>
            <div class="col-xs-3 valign">
                <a href="http://devwarsztaty.pl" style="display:inline-block;">
                    <img src="~/images/devWarsztaty.jpg" style="pointer-events: none;" />
                </a>
            </div>
            <div class="col-xs-3 valign">
                <a href="http://devtalk.pl" style="display:inline-block;">
                    <img src="~/images/devtalk.png" style="pointer-events: none;" />
                </a>
            </div>
        </div>
    </div>
</section>
