@model dynamic

@{
    ViewBag.Title = "dotnetconf.pl";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">24 października 2015</span>
                    <span class="skills">15:00 - 23:00</span>
                    <hr class="star-light">
                    <span class="skills">
                        Wirtualna konferencja dla .NET developerów.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="cfp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Call For Papers</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>W tym roku, na prośbę społczeności, organizujemy oficjalne Call for Papers!</p>
                <p>Więcej informacji wkrótce.</p>
            </div>
        </div>
    </div>
</section>
