@model dynamic

@{
    ViewBag.Title = "dotnetconf.pl";
}

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">31 października 2015</span>
                    <span class="skills">15:00 - 23:00</span>
                    <hr class="star-light">
                    <span class="skills">
                        Wirtualna konferencja dla .NET developerów.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="cfp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Call For Papers</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>W tym roku, na prośbę społczeności, organizujemy oficjalne Call for Papers!</p>
                <h3>Termin nadsyłania zgłoszeń ubiega 31 Lipca 2015</h3>
                <p>Wybrane prezentacje zostaną ogłoszone do 15 sierpnia 2015.</p>
                <a class=" btn btn-info btn-lg" href="http://goo.gl/forms/pzphqsyAut">Prześlij prezentacje</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Partnerzy</h2>
                <hr class="partners-primary">
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-xs-3">
                <a href="http://devday.pl/">
                    <span>
                        <object class="devday" data="~/images/devday_logo_2015.svg" type="image/svg+xml" style="z-index: -1; pointer-events: none;"></object>
                    </span>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="http://buildstuff.lt/">
                    <img src="~/images/buildstuff-logo.png" style="z-index: -1; pointer-events: none;" />
                </a>
            </div>
            <div class="col-xs-3">
                <a href="http://devwarsztaty.pl" >
                    <img src="~/images/devWarsztaty.jpg" style="z-index: -1; pointer-events: none;" />
                </a>
            </div>
            <div class="col-xs-3">
                <a href="http://devtalk.pl">
                    <img src="~/images/devtalk.png" style="z-index: -1; pointer-events: none;" />
                </a>
            </div>
        </div>
    </div>
</section>
