@model dynamic

@{
    ViewBag.Title = "dotnetconf.pl";
}
<div class="container-fluid" style="font-family: 'Segoe UI', Segoe, Arial, Verdana, sans-serif; color: #ccc; font-size: 20px; line-height: 150%; padding: 20px; text-align: center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 style="font-weight: normal;">24 października 2015</h1>
            <h2 style="font-weight: normal;">15:00 - 23:00</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                <b>dotNetConfPL</b> to wirtualna konferencja przeznaczona dla .NET developerów.
            </p>
            <p>
                W tym roku, na prośbę społeczności, organizujemy oficjalny call for papers.
            </p>
            <p>
                Więcej szczegółów wkrótce.
            </p>
            <p>
                Poprzednie edycje: <a href="/2013">2013</a>, <a href="/2014">2014</a> .
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="line"></div>
            <h1 style="font-weight: normal;">Wsparcie zapewnia</h1>
            <p>
                <a href="http://www.jetbrains.com/"><img src="~/images/logo_jetbrains.gif" style="width: 200px;" /></a>
            </p>
            <p>
                <a href="http://www.ncrunch.net/"><img src="~/images/N-logo.png" style="width: 200px;" /></a>
            </p>
            <p>
                <a href="http://www.webio.pl/"><img src="~/images/webio.png" style="width: 200px;" /></a>
            </p>
        </div>

    </div>
</div>
