*.suo
*.user
*.datasource
*.Publish.xml
*.dotcover
*.swo
local.config

obj
bin
Bin
ClientBin
GeneratedCode
Service References
WCFNHibernate
*UnitOfWork*
GenericTransaction
_ReSharper*
elearn.suo
App_Readme
Adminica
packages
DeployPackage
deploy.cmd
App_Data
