
@{
    ViewBag.Name = "Rejestracja";
}

<p>Dziękujemy za rejestrację.</p>
<p>Jeśli możesz to poinformuj znajomych o naszym wydarzeniu.</p>
<p>Pokażmy, że Polskie .Net community ma się dobrze.</p>

Share Facebook, Share twitter przycisk

