
@{
    ViewBag.Name = "Rejestracja";
}

<p>Dziękujemy za rejestrację.</p>
<p>Poinformuj znajomych o naszym wydarzeniu.</p>
<p>Pokażmy, że Polska społeczność .Net ma się dobrze.</p>

<a title="Facebook" class="image-link"
   href="http://www.facebook.com/sharer.php?s=100&p[title]=DotNetConf.pl&p[summary]=Rozruszajmy polski .Net&p[url]=www.dotnetconf.pl"
   target="_blank">
    <span>
        <img width="40" height="40" src="~/Content/images/facebook.png" alt="Facebook" /> 
    </span>
</a>

<a title="Twitter" class="image-link"
   href="http://twitter.com/share?text=Wirtualna Konferencja DotNetConf.pl - Rozruszajmy Polski .Net www.dotnetconf.pl &url=www.dotnetconf.pl"
   target="_blank">
    <span>
        <img width="40" height="40" src="~/Content/images/twitter.png" alt="Twitter" /> 
    </span>
</a>

