@model dotnetconfpl.DAL.Attende

@{
    ViewBag.Name = "Rejestracja";
}



@using (Html.BeginForm(new { @class = "form-horizontal" }))
{
   <p>Rejestracja nie jest obowiązkowa. Chcemy tylko wiedzieć jakie jest zaintereswanie.</p> 
    
    <div class="control-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label", @for = "Name" })
        <div class="controls">
            @Html.EditorFor(model => model.Name)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(model => model.Mail, new { @class = "control-label", @for = "Mail" })
        <div class="controls">
            @Html.EditorFor(model => model.Mail)
        </div>
    </div>
    <button type="submit" class="btn">Rejestruj</button> 
}