@model IEnumerable<dotnetconfpl.DAL.Attende>

@{
    ViewBag.Title = "Lista uczestników";
}

<h2>Lista :)</h2>

@foreach (var attende in Model)
{
 <div>@attende.Mail - @attende.Name - @attende.PageWww - @attende.TwitterHandle</div>   
}
