.nav-collapse > .nav-bar > a {
    float: none;
    padding: 10px 15px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.nav-collapse {
    text-align: center;
}

.nav-bar {
    margin-bottom: 10px;
    float: none;
}

#mainBody {
    margin-top: 50px;
}

body {
    color: #ccc;
    font-family: 'Segoe UI', Segoe, Arial, Verdana, sans-serif;
    color: #ccc;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}

a.image-link:hover {
    text-decoration: none !important;
}

.validation-summary-errors > ul {
    color: red;
    list-style-type: none;
    font-size: 16px;
}

#countbox {
    padding-top: 20px !important;
}
