<div id="container" style="font-family: 'Segoe UI', Segoe, Arial, Verdana, sans-serif; color: #ccc; font-size: 20px; line-height: 150%; padding: 20px; text-align: center">
    <h1 style="font-weight: normal; margin: -20px 0 40px 0">O wydarzeniu</h1>
    <div class="line"></div>
    <div class="row">            
        <p>
            <b>dotNetConfPL</b> to wirtualna konferencja przeznaczona dla .NET developerów.
        </p>
        <p> Jest to pierwsze takie wydarzenie w Polsce.
        </p>
        <p>
            Konferencja odbędzie się <b>12 października 2013, w godzinach 15-22</b>. 
        </p>
        <p>
            Live stream będzie dostępny poprzez Google Hangouts on Air. 
        </p>
        <p>
            Żeby wziąć udział potrzebna będzie jedynie przeglądarka z dostępem do Internetu!
        </p>
        <p>
            Będzie także możliwość zadawania pytań do prelegentów poprzez <a href="http://jabbr.net/#/rooms/dotnetConfPL">chat na JabbR</a>.
        </p>
    </div>

    <div class="line"></div>
    <div class="slogan_social"></div>
    <div id="social_media"></div>
</div>
