<div id="container" style="font-family: 'Segoe UI', Segoe, Arial, Verdana, sans-serif; color: #ccc; font-size: 20px; line-height: 150%; padding: 20px; text-align: center">
    <h1 style="font-weight: normal; margin: -20px 0 40px 0">Agenda</h1>
    <div class="line"></div>
        
    <div class="row" >            
        <h2 style="font-weight:normal">Testy jednostkowe w .NET</h2>
        @Html.ActionLink("Maciej Aniserowicz", "Speakers")
        <p>
            ...
        </p>
    </div>

    <div class="line"></div>

    <div class="row">
        <h2 style="font-weight:normal">Windows Phone 8.1 Tips &amp; Tricks</h2>
        @Html.ActionLink("Maciej Grabek", "Speakers")
        <p>
            ...
        </p>
    </div>
        
    <div class="line"></div>

    <div class="row">
        <h2 style="font-weight:normal">Node.js, Edge.js i Windows Azure</h2>
        @Html.ActionLink("Tomasz Janczuk", "Speakers")
        <p>
            ... 
        </p>          
    </div>

    <div class="line"></div>

    <div class="row">
        <h2 style="font-weight:normal">...</h2>
        @Html.ActionLink("Jakub Gutkowski", "Speakers")
        <p>
            ... 
        </p>          
    </div>

    <div class="line"></div>
    <div class="slogan_social"></div>
    <div id="social_media"></div>
</div>