<div class="container-fluid" style="font-family: 'Segoe UI', Segoe, Arial, Verdana, sans-serif; color: #ccc; font-size: 20px; line-height: 150%; padding: 20px; text-align: center">

    <div class="row-fluid">
        <div class="span6 offset3">
            <h1 style="font-weight: normal; margin: -20px 0 40px 0">Agenda</h1>            
                <div class="line"></div>
            </div>        
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 style="font-weight: normal">Testy jednostkowe w .NET</h2>
            @Html.ActionLink("Maciej Aniserowicz", "Speakers")
            <p>
                Podczas sesji zaprezentowane zostanie pragmatyczne podejście do pisania testów jednostkowych w .NET. 
                Teoria w połączeniu z praktyką zademonstrują dlaczego automatyczne testowanie oprogramowania jest niezmiernie ważne oraz... jak robić to bezboleśnie.
            </p>            
            <div class="line"></div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 style="font-weight: normal">Windows Phone 8.1 Tips &amp; Tricks</h2>
            @Html.ActionLink("Maciej Grabek", "Speakers")
            <p>
                ...
            </p>      
            <div class="line"></div>            
        </div>
    </div>


    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 style="font-weight: normal">Node.js, Edge.js i Windows Azure</h2>
            @Html.ActionLink("Tomasz Janczuk", "Speakers")
            <p>
                ... 
            </p>            
            <div class="line"></div>             
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 style="font-weight: normal">...</h2>
            @Html.ActionLink("Jakub Gutkowski", "Speakers")
            <p>
                ... 
            </p>          
            <div class="line"></div>              
        </div>
    </div>
</div>