<div class="success" id="about">
    <div class="container text-center">
        <div class="row" style="margin-top: 100px">
            <div class="col-md-6 col-md-offset-3">
                <h1>Call of Papers</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Start : Zaczynamy wkrótce!</h2>
                <h3>Swoje zg³oszenia nadsy³ajcie <a href="http://goo.gl/forms/vZPUW1g5Cr">tutaj</a></h3>
                <img src="~/Content/images/call-for-papers2.png" style="margin: 20px;" /><br />
                <p>
                    W tym roku jak i w poprzednim uruchomiliœmy "Call of Papers". <br />
                    Oznacza to ¿e mo¿esz wys³aæ swoje zg³oszenie na prezentacje, a my przegl¹dniemy wszystkie i wybierzemy kilka propozycji <br />
                    które wyst¹pi¹ na naszej internetowej scenie! <br />
                </p>
            </div>
        </div>
    </div>
</div>
