@{
    ViewBag.Title = "CheckStream";
}

<h2>CheckStream</h2>


<div class="row-fluid">
    <div class="span4 offset4">
        <input class="span12" value="@Session["CurrentStream"]" id="stream-value"/>
    </div>
</div>
<div class="row-fluid">
    <select id="selected-stream">
        <option value="maniserowicz">maniserowicz</option>
        <option value="filipwoj">filipwoj</option>
        <option value="lukaszgasior">lukaszgasior</option>
        <option value="gutek">gutek</option>
        <option value="mgrabek">mgrabek</option>
        <option value="tjanczuk">tjanczuk</option>
    </select>
</div>
<div class="row-fluid">
    <div class="span4 offset4">
        <input type="text" class="span12" id="passwordInput"/>
    </div>
</div>
<div class="row-fluid">
    <div class="span4 offset4">
        <input type="button" class="btn span12" value="Set new link" id="sessionSaveButton"/>
    </div>
</div>

<script>
    var setSession = function () {

        var init = function () {
            saveSessionButtonHandler();
        };

        var saveSessionButtonHandler = function () {
            $("#sessionSaveButton").on('click', function () {                
                $.post("@Url.Action("ReloadSession")", { newStream: $('#stream-value').val(), password: $('#passwordInput').val(), streamType: $("#selected-stream").val() });
            });

        };

        return {
            Init: init
        };
    }();

    $(function () {
        setSession.Init();
    });
</script>

