@model dynamic

@{
    ViewBag.Title = "Kontakt";
}

<h2><a href="https://twitter.com/dotNetConfPL">@@dotNetConfPL</a></h2>

<p><a href="http://www.mfranc.com">Michał Franc</a></p>
<p><a href="http://pawel.sawicz.eu/">Paweł Sawicz</a></p>
<p><a href="http://jj09.net/">Jakub Jędryszek</a></p>

