<h2><a href="https://twitter.com/dotNetConfPL">@@dotNetConfPL</a></h2>

<div class="span6 offset3" style="text-align: center">
    <div class="row">
        <div class="span4">
            <img src="~/Content/images/michal-franc.jpg" style="margin: 20px; width: 200px" /><br />
            <p><a href="http://www.mfranc.com">Michał Franc</a></p>
            <p>
                Absolwent <a href="http://www.pwr.edu.pl">PWr</a>, mieszkający w Londynie gdzie ratuje Świat budując dobroczynną platformę <a href="http://www.justgiving.com">JustGiving</a>. 
                Zbzikowany na punkcie pragmatycznego i 'adżajlowego' podejścia do pracy. 
                Od czasu do czasu zdarzy mu się napisać coś interesującego na blogu <a href="http://www.mfranc.com">www.mfranc.com</a> 
                bądź twitterze <a href="https://twitter.com/francmichal">@@francmichal</a>. 
                Zawsze otwarty na rozmowę i chętny do pomocy.</p>
        </div>

        <div class="span4">
            <img src="~/Content/images/jakub-jedryszek.jpg" style="margin: 20px; width: 200px" /><br />
            <p><a href="http://jj09.net/">Jakub Jędryszek</a></p>
            <p>
                <a href="http://jj09.net/">Blogger</a> i pasjonat technologii.
                Pracował jako Web Developer PHP oraz ASP.NET. 
                Potem przez prawie dwa lata studiował na <a href="http://cis.ksu.edu/">Kansas State University</a> i pracował w grupie badawczej <a href="http://santoslab.org/">SAnToS Lab</a>.
                Od września tego roku pracuje dla Microsoft i pomaga budować <a href="http://portal.azure.com">nowy portal Azure</a>.
            </p>
        </div>

        <div class="span4">
            <img src="~/Content/images/pawel-sawicz.jpg" style="margin: 20px; width: 200px" /><br />
            <p><a href="http://pawel.sawicz.eu/">Paweł Sawicz</a></p>
            <p>
                Padawan programowania, ciągle się uczący. Pasjonat programowania, ostatnio wkręcający się w TDD. Jeszcze student... Kocha konferencje :)
            </p>
        </div>
    </div>
</div>
