
<div class="success" id="about">
        <div class="container text-center">
            <div class="row" style="margin-top: 100px">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Organizatorzy</h1>
                    <p>W tym roku organizacją konferencji zajmuje się nowy zespół. Hołd dla poprzednich <a href="~/2016/Contact">organizatorów</a>!</p>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="~/Content/images/pawel_klimczyk.jpg" style="margin: 20px; width: 200px; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;" /><br />
                    <p>Paweł Klimczyk</p>
                    @*<p>
                        Tajemniczy organizator #01.
                    </p>*@
                </div>
                <div class="col-lg-4 text-center">
                    <img src="~/Content/images/konrad_kokosa.jpg" style="margin: 20px; width: 200px; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;" /><br />
                    <p>Konrad Kokosa</p>
                    @*<p>
                        Tajemniczy organizator #02.
                    </p>*@
                </div>
                <div class="col-lg-4 text-center">
                    <img src="~/Content/images/pawel_lukasik.jpeg" style="margin: 20px; width: 200px; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;" /><br />
                    <p>Paweł Łukasik</p>
                    @*<p>
                        Tajemniczy organizator #03.
                    </p>*@
                </div>
            </div>
            <div class="row" style="margin-top: 100px">
                <div class="col-md-6 col-md-offset-3">
                    <hr />
                </div>
            </div>
        </div>
    </div>
