
<div class="success" id="about">
        <div class="container text-center">
            <div class="row" style="margin-top: 100px">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Organizatorzy</h1>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="http://www.gravatar.com/avatar/596c2a82b6a80064c2999d77da707256.jpg?s=200" style="margin: 20px; width: 200px; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;" /><br />
                    <p>
                        <a href="http://www.mfranc.com">Michał Franc</a>
                    </p>
                    <p>
                        Pragmatyczny team leader / developer, pomagający <a href="http://www.justgiving.com">JustGiving</a> budować platformę społecznościową dla 23 mln użytkowników.
                        Zainteresowany C#, funkcjonalnym programowaniem oraz JS-em. Użytkownik vima, fan micro-serwisów.
                        Bloger - <a href="http://www.mfranc.com">www.mfranc.com</a>, prelegent.
                        Można go znaleźć na <a href="http://twitter.com/francmichal">@@francmichal</a> oraz <a href="http://github.com/michal-franc">githubie</a>
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="http://www.gravatar.com/avatar/299ad37f586aa79c7e0839fd4a18509a.jpg?s=200" style="margin: 20px; width: 200px; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;" /><br />
                    <p><a href="http://jj09.net/">Jakub Jędryszek</a></p>
                    <p>
                        Web Developer i miłośnik C#. Pracuje dla Microsoft i pomaga budować <a href="http://azure.microsoft.com/en-us/overview/preview-portal/">nowy Portal Azure</a>.
                        Wcześniej pracował jako Web Developer w Polsce i USA. Studiując na <a href="http://cis.ksu.edu/">Kansas State University</a> pracował w grupie badawczej <a href="http://santoslab.org/">SAnToS Lab</a>.
                        Prowadzi <a href="http://jj09.net/">bloga</a> oraz wygłasza <a href="http://jj09.net/category/speaking/">prelekcje</a>. Można go znaleźć na <a href="http://twitter.com/JakubJedryszek">Twitterze</a> oraz <a href="http://github.com/jj09">githubie</a>.
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="http://www.gravatar.com/avatar/9008e4ffdf5bcde2dca191a3cb72fa1b.jpg?s=200" style="margin: 20px; width: 200px; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;" /><br />
                    <p><a href="http://pawel.sawicz.eu/">Paweł Sawicz</a></p>
                    <p>
                        Świeżo upieczony absolwent <a href="http://www.weka.pwr.edu.pl/index.dhtml">PWr</a>, aktualnie pracuje dla <a href="https://www.justgiving.com/">JustGiving</a>.
                        Uwielbia programowanie i wszystko co jest na około tego. Ostatnio wkręcający się w język funkcyjny <a href=#>Haskell</a> oraz zaczyna dzielić się swoją wiedzą jako prelegent. Prowadzi <a href="http://pawel.sawicz.eu/">blog</a> oraz pisze na twitterze pod tym handlerem <a href="https://twitter.com/sawiczpawel">@@sawiczpawel.</a>. Kiedyś nie lubił matematyki teraz uwielbia :)
                    </p>
                </div>
            </div>
        </div>
    </div>
