@model dynamic

@{
    ViewBag.Title = "dotnetconf.pl";
}
<div class="container-fluid" style="font-family: 'Segoe UI', Segoe, Arial, Verdana, sans-serif; color: #ccc; font-size: 20px; line-height: 150%; padding: 20px; text-align: center">
    <div class="row-fluid">
        <div class="span6 offset3">
            <h1 style="font-weight: normal;">18 października 2014</h1>
            <h2 style="font-weight: normal;">15:00 - 23:00</h2>
        </div>
    </div>    
    
    <div class="row-fluid">
        <div class="span12">
            <p>
                <b>dotNetConfPL</b> to wirtualna konferencja przeznaczona dla .NET developerów.
            </p>
            <p>
                W tym roku odbędzie się druga edycja.
            </p>
            <p> 
                Nagrania z poprzedniej edycji są dostępne <a href="@Url.Action("Agenda", new { area = "2013"})">tutaj</a> oraz na <a href="http://www.youtube.com/playlist?feature=edit_ok&list=PLrl3kkmpoDclo5jArWvstH-jxnKKweL0f">youtube</a>.
            </p>
            <p>
                W tegorocznej edycji rozlosujemy 6 licencji ReSharpera oraz 3 licencje NCrunch.
            </p>
        </div>
        <div class="span12" style="margin-top: 40px; margin-left: 0px;">
            <p><a class="btn-small btn-success" href="https://www.eventbrite.com/e/dotnetconfpl-2014-tickets-13406279543">REJESTRACJA</a></p>
        </div>
    </div>
    
    <div class="row-fluid">        
        <div class="span6 offset3">
            <div class="line"></div>
            <h1 style="font-weight: normal;">Wsparcie zapewnia</h1>
            <p>
                <a href="http://www.jetbrains.com/"><img src="~/Content/images/logo_jetbrains.gif" style="width: 200px;" /></a> 
            </p>
            <p>
                <a href="http://www.webio.pl/"><img src="~/Content/images/webio.png" style="width: 200px;" /></a> 
            </p>            
        </div>
        
    </div>
</div>
