@model dynamic

@{
    ViewBag.Title = "dotnetconf.pl";
}

<script type="text/javascript">

//Edit data below to your personal preferences ----------------------------------

//Give the date ---------------------------------
year = 2013; month = 10; day = 12;
//Give the point of time ------------------------
hour= 15; min= 0; sec= 0;
//-----------------------------------------------

//Standard text ---------------------------------
main_titel= 'Rozruszajmy polski .Net';
sub_titel= '' 
social_network_titel= '';
//-----------------------------------------------

//URL's --- (use 'hide' to hide) ----------------
facebook= 'https://www.facebook.com/dotnetconf.pl.5';
twitter= 'https://twitter.com/dotNetConfPL';
rss= 'hide';
deviantart= 'hide'; 
myspace= 'hide';
lastfm= 'hide';
flikr= 'hide';
//-----------------------------------------------

//End editing -------------------------------------------------------------------
</script>
<link rel="shortcut icon" type="image/x-icon" href="/Content/countdown/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="/Content/countdown/css/style.css">
<script type="text/javascript" src="/Content/countdown/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/Content/countdown/js/counter.js"></script>

	<div id="container">
		<div class="line"></div>
		<div class="slogan_main"></div>
		<div id="countbox"></div>
		<div class="line"></div>
		<div class="slogan_social"></div>
		<div id="social_media"></div>
	</div>
		
<noscript><div id="noscript">(please enable javascript)<span>Nowe wydarzenie na polskiej scenie .Netowej nachodzi</span></div></noscript>

