@model dynamic

@{
    ViewBag.Title = "dotnetconf.pl";
}

<header style="background-image: url('/Content/images/dotNetConfPL-background.jpg'); background-size: cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <br />
                    <span class="name">31 października 2015</span>
                    <span class="skills">15:00 - 22:00</span>
                    <hr>
                    <span class="skills">
                        Wirtualna konferencja dla .NET developerów.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="news">
    <div class="container text-center">
        <h2><a href="/Speakers">Tegoroczni prelegenci</a></h2>
        <h3>oraz</h3>
        <h2><a href="/Agenda">sesje</a></h2>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Partnerzy</h2>
                <hr class="partners-primary">
            </div>
        </div>
        <div class="col-lg-12 text-center" style="margin-top: 20px">
            <a href="http://devday.pl/" style="display:inline-block; margin-right: 20px;">
                <img src="~/Content/images/devday_logo_2015.jpg" style="pointer-events: none;" />
            </a>
            <a href="http://buildstuff.lt/" style="display:inline-block; margin-right: 20px;">
                <img src="~/Content/images/buildstuff-logo.png" style="pointer-events: none;" />
            </a>
            <a href="http://devwarsztaty.pl" style="display:inline-block; margin-right: 20px;">
                <img src="~/Content/images/devWarsztaty.jpg" style="pointer-events: none;" />
            </a>
            <a href="http://devtalk.pl" style="display:inline-block; margin-right: 20px;">
                <img src="~/Content/images/devtalk.png" style="pointer-events: none;" />
            </a>
        </div>
    </div>
</section>