<div class="success" id="about">
    <div class="container text-center">
        <div class="row" style="margin-top: 100px">
            <div class="col-md-6 col-md-offset-3">
                <h1>Zaangażuj się!</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>dotnetconf.pl to dla community, dlatego w tym roku chcielibyśmy bardziej zaangarzować polskie community do organizacji tego przedsięwziecia!</p>
                <p>W poprzednich edycjach zauważyliśmy że dużo ludzi spotykało razem aby oglądać dotnetConfpl</p>
                <p>Więc w tym roku chcemy dać możliwość zorganizowania "oficjalnych" wydarzeń w waszych miastach</p>
            </div>
        </div>
    </div>
</div>
