@model dynamic

@{
    ViewBag.Title = "dotnetconf.pl";
}

<script src="/Scripts/jquery.signalR-1.1.3.min.js"></script>
<script src="/signalr/hubs"></script>


<div id="inject-place">
    
</div>

<input id="injecter" />
<button id="btn-set-stream">Set Stream</button>

<script type="text/javascript">
    $(function () {
        var injectHub = $.connection.injectHub;
        injectHub.client.updateStream= function(stream) {
            $('#inject-place').append(stream);
        };
        
        $.connection.hub.start().done(function () {
            $('#btn-set-stream').click(function() {
                injectHub.server.updateStream($('#injecter').val());
            });
        });
    });
</script>